@inherits <%= Name %>WebPage
@using <%= Namespace %>.Common
@{
  <%= Name %>ModuleContext.AddModuleScript();
}

<h1>Hello <%= Name %> Module</h1>

<div class="<%= Company %><%= Name %> <%= Name %>"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-portalid="@Dnn.PortalSettings.PortalId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(<%= Name %>ModuleContext.Security))"
     >
</div>
